/* *{
   background-color: lightblue; 
 background-image: url(bg2.png);
   background-size: cover; 
} */



#title{
   
    background-color: rgb(221, 203, 212);
    padding: 5px;
    border:5px rgb(83, 3, 34) solid;
    text-align: center;
    margin-top: 100px;
}
.whole{
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right,rgb(192, 29, 29),rgb(206, 206, 13),rgb(24, 132, 24),rgb(29, 153, 206),indigo,rgb(195, 80, 195));
}  
#inp{
    padding: 10px;

}
#but{
    padding: 5px;
    margin-top: 20px;
    
}
#but:hover{
    background-color: yellow;
}